# dependencies
node_modules

# next.js
.next
out

# vercel
.vercel

# typescript
tsconfig.tsbuildinfo

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dev-stdout.log
dev-stderr.log
.npm-cache
.tools

# local env
.env*

# misc
.DS_Store
*.pem
.push-clone*/
.push-worktree*/

.vercel
